name: Metrics
on:
  schedule: [{cron: "0 */12 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: nam091
          template: classic
          base: header, community, repositories, metadata
          config_timezone: Asia/Ho_Chi_Minh
          
          # Hỗ trợ repo PRIVATE
          repositories_batch: 200
          repositories_skipped: ""
          
          # Isometric Calendar (3D)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          # Languages
          plugin_languages: yes
          plugin_languages_ignored: html, css, tex
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
